<p id="notice"><%= notice %></p>

<p>
  <strong>Riding:</strong>
  <%= @candidate.riding_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @candidate.votes %>
</p>

<p>
  <strong>Party name:</strong>
  <%= @candidate.party_name %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
